header {
  display: flex;
  flex-direction: row;
  height: 10vh;
  min-height: 70px;
  max-height: 120px;
  width: 100vw;
  background-color: #292c3c;
  border-bottom: 2px solid #232634;
  box-sizing: border-box;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 2vw;
  box-sizing: border-box;
}

.logo1 {
  height: 7vh;
  max-height: 75px;
  width: auto;
  margin: 2vh 2vw;
}

.ancoras {
  display: flex;
  position: relative;
  margin-right: 2vw;
  gap: 1vw;
}

.ancoras a {
  font-size: 22px;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 50px;

  color: #c6d0f5;
}

.ancoras a,
.ancoras .lucide {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  padding: 0 10px;
  border-radius: 50px;
}

.ancoras .cadastrar {
  font-size: 24px;
  text-decoration: none;

  color: #232634;
  background-color: #ca9ee6;

  transition: background-color 0.5s, color 0.5s;
}

.lucide {
  width: 35px;
  height: 35px;
  border-radius: 50px;

  color: #c6d0f5;
}

.ancoras a:hover,
.ancoras .cadastrar:hover,
.ancoras .lucide:hover {
  color: #c6d0f5;
  background-color: #414559;

  cursor: pointer;

  transition: background-color 0.5s, color 0.5s;
}

@media (max-width: 700px) {
  header {
    height: 60px;
    min-height: 50px;
  }
  .logo1 {
    height: 40px;
    margin: 1vh 1vw;
  }
  .ancoras {
    gap: 0.5vw;
    margin-right: 1vw;
  }
  .ancoras a,
  .ancoras .lucide {
    font-size: 16px;
    height: 35px;
    padding: 0 6px;
  }
  .ancoras .cadastrar {
    font-size: 18px;
  }
}
