body {
  background-color: #fff;
}

.um {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  height: 440px;
  width: 100vw;

  background-color: #303446;
}

h1 {
  font-size: 28px;

  color: #cdd6f4;
}

.um .halteres {
  width: 1825px;
  margin: 20px;
  border-radius: 15px;
}

p {
  font-size: 18px;

  color: #cdd6f4;
}
