/* header {
  display: flex;
  flex-direction: row;

  height: 50px;
  width: 100%;
  background-color: #181825;
  border-bottom: 2px solid #11111b;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 20px;
  height: 100%;
  width: 100%;
} */
