footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: auto;
  min-height: 200px;
  width: 100%;

  color: #cdd6f4;
  background-color: #11111b;
}

footer .separator {
  width: 90vw;
  max-width: 1120px;
  border-top: solid 1px #cdd6f4;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90vw;
  max-width: 1100px;
}

footer .logo {
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 30px;
}

footer .icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 40px;
  width: 100%;
  padding: 30px;
}

footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
  width: 100%;
}

footer .texts1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  gap: 40px;
  width: 100%;
  padding: 30px 0;
}

footer .texts1 h3 {
  font-size: 1.1em;
  margin-bottom: 20px;
}

footer .texts1 p {
  font-size: 0.95em;
  margin-bottom: 10px;
}

footer .texts2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
  padding: 20px;
}

@media (max-width: 700px) {
  footer .container {
    width: 98vw;
    max-width: 100vw;
    padding: 0 1vw;
  }
  footer .separator {
    width: 98vw;
    max-width: 100vw;
  }
  footer .texts1 {
    flex-direction: column;
    gap: 20px;
    padding: 15px 0;
  }
  footer .logo,
  footer .icon-text,
  footer .icons,
  footer .texts2 {
    padding: 10px;
    gap: 10px;
  }
}
