main {
  display: flex;
  flex-direction: column;

  height: 1550px;
  width: 100vw;

  background-color: #303446;
}

main .faixa-superior {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;

  height: 300px;
  width: 100%;
  padding: 0 0 50px 0;

  color: #c6d0f5;
  background-color: #11111b;
}

main .faixa-superior h2 {
  margin-left: 225px;
  font-size: 50px;
}

main .faixa-superior h1 {
  margin-left: 225px;
  font-size: 72px;
}

main .programas-body {
  display: flex;
  flex-direction: column;
  align-items: start;

  gap: 10px;
  width: 1500px;
  margin: 50px 0 0 0;
  margin-left: 200px;

  color: #c6d0f5;
}

main .programas-body h5 {
  margin-left: 25px;
  font-size: 28px;
}

main .programas-body h3 {
  margin: 0 0 20px 25px;
  font-size: 36px;
}

main .programas {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

main .programas1 {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 50px;
  row-gap: 50px;
}

main .programas2 {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 50px;
  row-gap: 50px;
}

main .programa {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  height: 450px;
  width: 450px;
  border-radius: 15px;

  border: solid 1px black;
  background-color: #292c3c;
}

main .programa img {
  height: 210px;
  width: 450px;
  margin: 0 0 25px 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

main .programa .textos {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 25px;
}

main .programa .textos h4 {
  font-size: 32px;
}

main .programa .textos p {
  font-size: 26px;
  margin-bottom: 15px;
}

main .programa .textos a {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 350px;
  font-size: 24px;
  border-radius: 25px;
  text-decoration: none;

  color: #c6d0f5;
  background-color: #df8e1d;

  transition: background-color 0.3s, color 0.3s;
}

main .programa .textos a:hover {
  background-color: #ce831b;

  transition: background-color 0.3s, color 0.3s;
}
